<p>
  product-list works!
</p>
<div class="products-wrapper">
  <div class="product-wrapper" *ngFor="let product of products;let i = index;">
    <div class="prod-index">{{i+1}}</div>
    <div class="prod-id">{{product.id}}</div>
    <div class="prod-name">{{product.name}}</div>
    <div class="prod-description">{{product.description}}</div>
    <div class="prod-price">{{product.price | currency}}</div>
    <div class="prod-category">{{product.category}}</div>
    <div class="prod-isAvaliable">{{product.isAvaliable}}</div>
  </div>
</div>